

nav a,
nav .start-home,
a:hover ~ .animation {
    width: 15%;
}
nav .start-home {
    left: 31%;
}
a:nth-child(1):hover ~ .animation {
    left: 0;
    
}
nav a:nth-child(2):hover ~ .animation {
    left: 15%;
}

nav a:nth-child(4):hover ~ .animation {
    left: 46%;   
}

nav a:nth-child(5):hover ~ .animation {
    left: 70%;
    width: 0px;
}



html {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: rgb(139, 139, 139);
}

#aboutUs {
    padding-top: 2em;
    padding-bottom: 10em;
    background-color: rgb(255, 255, 255);
}

.heading {
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 5rem;
    text-align: center;
    color: rgb(0, 0, 0);
    position: relative;
}

.heading::after{
    content: "";
    width: 10rem;
    height: .8rem;
    background-color:rgb(237, 40, 40);
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}

.card-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.card {
    width: 32rem;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: .5rem 5rem 5rem 3rem rgba(110, 110, 110, 0.2);
}

.card .card-img {
    width: 100%;
    height: 26rem;
    object-fit: cover;
    -webkit-clip-path: polygon (0 0, 100% 0, 100% 78%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
}

.profile-img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    z-index: 3;
    border: .5rem solid #dadada;
}

.card h1 {
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    margin: 1.5rem 0;
}

.job-title {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 300;
}

.about {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
    color: rgb(0, 0, 0);
}

.social-media {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0, 0 , 0 ,0.1);
}

.social-media i {
    font-size: 3rem;
}

.fa-facebook-square {
    color: #55acee;
}
.fa-instagram {
    color: #e6683c;
}
.fa-google-plus {
    color: rgb(0, 0, 0);
}

.fa-facebook-square:hover,
.fa-instagram:hover,
.fa-google-plus:hover {
    color: #45e19f
}

@media screen and (min-width: 720px) {
    .card-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card {
        margin: 2rem;
        transition: transform .5s;
    }

    @keyframes fadeIn {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
        .card:nth-child(1){
            animation: fadeIn .5s .5s backwards;
        }
        .card:nth-child(2){
            animation: fadeIn .5s 1s backwards;
        }
        .card:nth-child(3){
            animation: fadeIn .5s 1.5s backwards;
        }
        .card:nth-child(4){
            animation: fadeIn .5s 2s backwards;
        }
        .card:hover{
            transform: scale(1.05);
    }
}