nav a,
nav .start-home,
a:hover ~ .animation {
    width: 15%;
}
nav .start-home {
    left: 15%;
}
a:nth-child(1):hover ~ .animation {
    left: 0;
}

nav a:nth-child(3):hover ~ .animation {
    left: 31%;
}

nav a:nth-child(4):hover ~ .animation {
    left: 47.5%;
    width: 13%;
}

nav a:nth-child(5):hover ~ .animation {
    left: 70%;
    width: 0px;
}


#addEditEvent {
    margin-top: 0;
    margin: auto;
    width: 100%;
    height: 87vh;
    display: flex;
    flex-direction: column;
    font-family: "Varela Round", sans-serif;
    font-size: 20px;
}


#addEditEvent h1 {
    align-self: center;
    height: 60px;
    /* padding-left: 40px; */
    /* margin: auto; */
    
}

.eventForm {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    /* align-items: center; */
}

.formFirstPart, .formSecondPart {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form{
    display: flex;
    flex-direction: column;
    /* padding-bottom: 30px; */
}
input, select  {
    width: 100%;
    height: 30px;
    /* border-radius: 5px; */
    margin-top: 10px; 
    /* margin-bottom: 10px; */
}

.btnFrom {
    width: 100%;
    height: 40px;
}
.eventDescription {
    height: 150px;
}

#btn {
    width: 100%;
    cursor: pointer;
    height: 50px;
    border: none;
}