* {
    margin: 0;
    padding: 0;
}


/* red line  */
nav a,
nav .start-home,
a:hover ~ .animation {
    width: 15%;
}
nav .start-home{
    left: 15%;
}
a:nth-child(1):hover ~ .animation {
    left: 0%;
}
/* nav a:nth-child(2):hover ~ .animation {
    left: 15%;
} */

nav a:nth-child(3):hover ~ .animation {
    left: 31%;
}

nav a:nth-child(4):hover ~ .animation {
    left: 46%;
}

nav a:nth-child(5):hover ~ .animation {
    left: 72%;
    width: 0;
}

nav a:nth-child(6):hover ~ .animation {
    left: 77%;
}


/* Search section --------------------------------------------------------------------------------------- */
#formCriteria {
    background-color: black;
    color: white;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
}

#searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#searchWrapper {
    text-align: left;
    margin-bottom: 20px;
}

#selectCriteria {
    width: 30%;
}
#searchInput {
    width: 70%;
    margin-left: 100px;
}

#sportSelect {
    width: 79%;
}
#sportsCriteria {
    width: 40%;
}

input[type=text] {
    border: none;
    width: 1rem;
    padding: .7rem;
    background-color: #292929;
    border-radius: 4px;
    color: white;
}

input[type=submit] {
    background-color: #EC9A29;
    width: 100%;
    border: none;
    border-radius: 4px;
    color: white;
    padding: .6rem;
    margin-top: 25px;
    font-size: 1rem;
}

select {
    background-color: white;
    border: none;
    border-radius: 4px;
    color: #292929;
    font-size: 1.2rem;
}

#sportsCriteria{
    background-color: white;
    border: none;
    border-radius: 4px;
    color: #292929;
    font-size: 1.2rem;
    height: 100%;
    
}

/* Section One ------------------------------------------------------------------------------------------ */
#mainContainer section:nth-child(2) {
    color: #292929;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px;
}

/* Section Two ------------------------------------------------------------------------------------------ */


#mainContainer section:nth-child(3) {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: rgb(139, 139, 139);
}

.card-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.card {
    width: 20rem;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: .5rem 5rem 5rem 3rem rgba(110, 110, 110, 0.2);
}

.card .card-img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    -webkit-clip-path: polygon (0 0, 100% 0, 100% 78%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
}

.card h1 {
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
    margin: 1rem 0;
    padding: 15px;
    text-align: center;
    
}

.job-title {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 300;
}

.about {
    font-size: 1rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
    color: rgb(0, 0, 0);
}

.btn:link,
.btn:visited{
	text-decoration: none;
	text-transform:uppercase;
	position:relative;
	top:0;
	left:0;
	padding:20px 40px;
	border-radius:100px;
	display:inline-block;
	transition: all .5s;
}

.btn-white{
	background-color: rgba(237, 40, 40, 0.85);
	color:rgb(255, 255, 255);
	font-size: .9em;
	font-weight: 630;
    margin-bottom: 30px;
}

.btn:hover{
	box-shadow:0px 10px 10px rgba(0,0,0,0.2);
	transform : translateY(-3px);
}

.btn:active{
	box-shadow:0px 5px 10px rgba(0,0,0,0.2);
	transform: translateY(-1px);
}

.btn-bottom-animation-1{
	animation:comeFromBottom 1s ease-out .8s;
}

.btn::after{
	content:"";
	text-decoration: none;
	text-transform:uppercase;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	border-radius:100px;
	display:inline-block;
	z-index:-1;
	transition: all .5s;
}

.btn-white::after {
	background: rgba(237, 40, 40, 0.85);
}

.btn-animation-1:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

@keyframes comeFromBottom{
0%{
	opacity:0;
	transform:translateY(40px);
} 
100%{
	opacity:1;
	transform:translateY(0);
}
}

@media screen and (min-width: 720px) {
    .card-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card {
        margin: 2rem;
        transition: transform .5s;
    }

    @keyframes fadeIn {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
        .card:hover{
            transform: scale(1.05);
    }
}

