/*  i am the css page for the landing page */
* {
    font-family: 'Varela Round', sans-serif;
}

body {
    background: rgb(255, 255, 255);
    /* background: #F5F5F5; */
}

/* ---------------------------style for the banner on landing page-------------------  */
#mainContent {
    display: flex;
    flex-direction: column;
}
.firstSection {
    top: 10px;
    overflow: hidden;
    padding: 0;
    margin: auto;
    position: relative;
    width: 97%;
    height: 82vh;
    /* border-radius: 25px; */
    /* width: 100%;
    height: 82vh; */
}

.banner1, .banner2, .banner3, .banner4 {
    height: 100vh;
    width: 100%;

}
 .banner1> img, 
 .banner2> img,
 .banner3> img,
 .banner4> img {
    width: 120%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    animation: zoom-out 3s linear infinite;
}
@keyframes zoom-out{
    100%{
        width: 100%;
    }

}
.text-box {
    width: 100%;
    position: absolute;
    top: 200px;
    color: rgb(255, 255, 255);
    animation: textup 12s linear infinite;
    transform: translateY(100px);
    /* background-color: rgba(0, 117, 250, 0.5); */
}
.text-box1 {
    animation-delay: 0s;
}
.text-box2 {
    animation-delay: 3s;
}
.text-box3 {
    animation-delay: 6s;
}
.text-box4 {
    animation-delay: 9s;
}
@keyframes textup {
    10%{
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px);
    }
}

.text-box h1 {
    margin-left: 40px;
   margin-bottom: 40px;
}

.text-box p {
    margin-left: 40px;
    font-size: 24px;
    line-height: 18px;
    margin-top: 80px;
    color: rgb(255, 255, 255);
}
.text-box span {
    margin-left: 40px;
    background:rgb(237, 40, 40);
    height: 3px;
    width: 100px;
    position: absolute;
}
.banner1 {
    animation: slide1 12s linear infinite;
}
.banner2 {
    animation: slide2 12s linear infinite;
}
.banner3 {
    animation: slide3 12s linear infinite;
}
.banner4 {
    animation: slide4 12s linear infinite;
}

@keyframes slide1{
    0%{
        visibility: 0%;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes slide2{
    0%{
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: visible;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}
@keyframes slide3{
    0%{
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}
@keyframes slide4{
    0%{
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}


/* ---------------------------------style for secondSection & cards----------------------------*/
#secondSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    /* background: honeydew; */
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    /* background: grey; */
}

.cards> .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    /* border-radius: 5px;
    border: 10px solid rgb(92, 92, 92); */
    /* background: #F5F5F5; */
    background: #ffffff;

    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}
.cards> .card:hover {
    height: 420px;
}

.cards> .card> .imgBx {
    
    position: relative;
    width: 260px;
    /* height: 260px; */
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

}
.cards .card .imgBx h2 {
    /* font-family: 'Varela Round', sans-serif; */
    font-family: 'Righteous', cursive;

    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.cards .card .imgBx a:visited{
    text-decoration: none;
    color: black;
}
.cards .card .imgBx img {
    max-width: 100%;
    height: 200px;
    border-radius: 4px;
}

.cards .card .cardText {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;   
    color: rgb(0, 0, 0);

}
a:visited{
    text-decoration: none;
}
.cards .card:hover .cardText {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}


/* ---------------------style for the third section----------------- */


#thirdSection {
    width: 97%;
    height: 800px;
    margin: auto;
    /* border: 2px solid green; */
    overflow: hidden;
    position: relative;
    /* border-radius: 25px; */
}
.photo {
    /* height: 700px; */
    /* border: 2px solid red; */
    width: 100%;
    /* height: 800px; */
    height: 700px;
    margin: auto;
    overflow: hidden;
    /* border-radius: 25px; */
}
.photo img {
    position: relative;
    width: 100%;
    z-index: 0;
}

.textInside {
    position: absolute;
    /* margin: auto; */
    border: 2px solid red;
    color: white;
    z-index: 1;
    bottom: 10px;
    left: 50%;
}