/*  i am the css page for the landing page */
* {
    font-family: 'Varela Round', sans-serif;
}

body {
    background: rgb(255, 255, 255);
}

/* red line animation for THE page */

nav a,
nav .start-home,
a:hover ~ .animation {
    width: 15%;
}
nav .start-home,
a:nth-child(1):hover ~ .animation {
    left: 2.5%;
    width: 10%;
}
nav a:nth-child(2):hover ~ .animation {
    left: 16.5%;
    width: 12%;
}

nav a:nth-child(3):hover ~ .animation {
    left: 31%;
}

nav a:nth-child(4):hover ~ .animation {
    left: 48.5%;
    width: 10%;
}

nav a:nth-child(5):hover ~ .animation {
    left: 72%;
    width: 0px;
}

/* nav a:nth-child(6):hover ~ .animation {
    left: 77%;
} */

/* ---------------------------style for the banner on landing page-------------------  */
#mainContent {
    display: flex;
    flex-direction: column;
}
    #firstSection {
    top: 10px;
    overflow: hidden;
    padding: 0;
    margin: auto;
    position: relative;
    width: 97%;
    height: 77vh;
}

.banner {
    height: 100vh;
    width: 100%;

}

 .banner> img {
    width: 120%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    animation: zoom-out 3s linear infinite;
}
@keyframes zoom-out{
    100%{
        width: 100%;
    }

}
.text-box {
    width: 100%;
    position: absolute;
    top: 200px;
    color: rgb(255, 255, 255);
    animation: textup 12s linear infinite;
    transform: translateY(100px);
    /* background-color: rgba(0, 117, 250, 0.5); */
}
.text-box1 {
    animation-delay: 0s;
}
.text-box2 {
    animation-delay: 3s;
}
#text-box3 {
    animation-delay: 6s;
}
.text-box4 {
    animation-delay: 9s;
}
@keyframes textup {
    10%{
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px);
    }
}

.text-box h1 {
    margin-left: 40px;
    margin-bottom: 40px;
}

.text-box p {
    margin-left: 40px;
    font-size: 24px;
    line-height: 18px;
    margin-top: 80px;
    color: rgb(255, 255, 255);
}
.text-box span {
    margin-left: 40px;
    background:rgb(237, 40, 40);
    height: 3px;
    width: 100px;
    position: absolute;
}
#banner1 {
    animation: slide1 12s linear infinite;
}
#banner2 {
    animation: slide2 12s linear infinite;
}
#banner3 {
    animation: slide3 12s linear infinite;
}
#banner4 {
    animation: slide4 12s linear infinite;
}

@keyframes slide1{
    0%{
        visibility: 0%;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes slide2{
    0%{
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: visible;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}
@keyframes slide3{
    0%{
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}
@keyframes slide4{
    0%{
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}


/* ---------------------------------style for secondSection & cards----------------------------*/
#secondSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}

.cards {
    width: 100%;
    height: 82vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.cards> .card {
    max-width: 300px;
    height: 215px;
    background: #ffffff;
    transition: 0.3s ease-in-out;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.cards> .card:hover {
    height: 420px;
}

.cards> .card> .imgBx {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

}
.cards .card .imgBx h2 {
    margin-top: 10px;
    /* font-family: 'Varela Round', sans-serif; */
    font-family: 'Righteous', cursive;

    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.cards .card .imgBx a:visited{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.cards .card .imgBx img {
    max-width: 100%;
    height: 200px;
    border-radius: 4px;
}

.cards .card .cardText {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;   
    color: rgb(0, 0, 0);

}
a:visited{
    text-decoration: none;
}
.cards .card:hover .cardText {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}


/* ---------------------style for the third section----------------- */


#thirdSection {
    width: 97%;
    margin: auto;
    overflow: hidden;
    position: relative;
    padding-bottom: 70px;
}
.photo {
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.photo img {
    width: 100%;
    z-index: 0;
}

.textInside {
    position: absolute;
    border: 2px solid red;
    color: white;
    z-index: 1;
    bottom: 10px;
    left: 50%;
}
.boxContainer {
    position: relative;
    width: 100%;
    height: 80px;
    background: black;
    display: flex;
    justify-content: center;
}
.box1 {
    transform: translate(-50%, -50%);
}

.boxContainer .box1 .btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    top: 0;
    left: 84px;
    padding: 20px 40px;
    border-radius: 100px;
    display: inline-block;
    transition: all 0.5s;
}


@media screen and (max-width: 1100px) {
    #mainContent {
        display: flex;
        flex-direction: column;
    }
    .box {
        right: -50px;
        position: absolute;
        bottom: 0%;
    }
    #firstSection, #thirdSection {
        width: 92%;
        margin-left: 15px;
    }
    #secondSection {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        height: 1500px;
        /* display: flex;
        flex-direction: column;
        justify-content: space-evenly; */
        /* display: none; */
    }

    #firstSection h1 {
        font-size: 25px;
    }
    #firstSection span {
        font-size: 10px;
    }
    .cards {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
}