/*  i am the css page for the landing page */
* {
    font-family: "Varela Round", sans-serif;
}

body {
    background: rgb(255, 255, 255);
}

/* red line animation for THE page */

nav a,
nav .start-home,
a:hover ~ .animation {
    width: 15%;
}
nav .start-home,
a:nth-child(1):hover ~ .animation {
    left: 2.5%;
    width: 10%;
}
nav a:nth-child(2):hover ~ .animation {
    left: 16.5%;
    width: 12%;
}

nav a:nth-child(3):hover ~ .animation {
    left: 31%;
}

nav a:nth-child(4):hover ~ .animation {
    left: 48.5%;
    width: 10%;
}

nav a:nth-child(5):hover ~ .animation {
    left: 72%;
    width: 0px;
}

/* nav a:nth-child(6):hover ~ .animation {
    left: 77%;
} */

/* ---------------------------style for the banner on landing page-------------------  */
#mainContent {
    display: flex;
    flex-direction: column;
}
#firstSection {
    top: 10px;
    overflow: hidden;
    padding: 0;
    margin: auto;
    position: relative;
    width: 97%;
    height: 77vh;
}

.banner {
    height: 100vh;
    width: 100%;
}

.banner > img {
    width: 120%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    animation: zoom-out 3s linear infinite;
}

@keyframes zoom-out {
    100% {
        width: 100%;
    }
}
.text-box {
    width: 100%;
    position: absolute;
    top: 200px;
    color: rgb(255, 255, 255);
    animation: textup 12s linear infinite;
    transform: translateY(100px);
    /* background-color: rgba(0, 117, 250, 0.5); */
}
.text-box1 {
    animation-delay: 0s;
}
.text-box2 {
    animation-delay: 3s;
}
#text-box3 {
    animation-delay: 6s;
}
.text-box4 {
    animation-delay: 9s;
}
@keyframes textup {
    10% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px);
    }
}

.text-box h1 {
    margin-left: 40px;
    margin-bottom: 40px;
}

.text-box p {
    margin-left: 40px;
    font-size: 24px;
    line-height: 18px;
    margin-top: 80px;
    color: rgb(255, 255, 255);
}
.text-box span {
    margin-left: 40px;
    background: rgb(237, 40, 40);
    height: 3px;
    width: 100px;
    position: absolute;
}
#banner1 {
    animation: slide1 12s linear infinite;
}
#banner2 {
    animation: slide2 12s linear infinite;
}
#banner3 {
    animation: slide3 12s linear infinite;
}
#banner4 {
    animation: slide4 12s linear infinite;
}

@keyframes slide1 {
    0% {
        visibility: 0%;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes slide2 {
    0% {
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: visible;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}
@keyframes slide3 {
    0% {
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}
@keyframes slide4 {
    0% {
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

/* ---------------------style for the third section----------------- */

#secondSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 70px;
    width: 97%;
    height: 80vh;
    /* position: relative; */
    overflow: hidden;
}
.secondPhoto {
    position: relative;
    width: 65%;
    height: 100%;
    overflow: hidden;
}
.secondPhoto img {
    position: absolute;
    top: -172px;
    left: -57px;
    width: 119%;
}
.secondText {
    padding-top: 10px;
    /* background: #2a9d8f; */
    /* position: relative; */
    /* border: 2px solid black; */
    width: 34%;
    height: 150%;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-around; */
}
.secondText p {
    color: #000;
    font-family: "Varela Round", sans-serif;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-top: 0;
    letter-spacing: 2px;
    font-size: 1em;
    text-align: center;
    /* padding: 5px; */
}
.boxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#thirdSection {
    margin: auto;
    margin-top: 70px;
    width: 97%;
    /* height: 77vh; */
    /* border: 2px solid black; */
}

@media screen and (max-width: 1100px) {
    #mainContent {
        display: flex;
        flex-direction: column;
    }
    .box {
        right: -50px;
        position: absolute;
        bottom: 0%;
    }
    #firstSection,
    #secondSection {
        width: 92%;
        margin-left: 15px;
    }

    #firstSection h1 {
        font-size: 25px;
    }
    #firstSection span {
        font-size: 10px;
    }
    .secondText p {
        font-family: "Varela Round", sans-serif;
        margin: 20px;
        letter-spacing: 2px;
        font-size: 15px;
    }
}
