#articleInfo {
    display: flex;
    margin: 30px;
    color: black;
}

#articleInfo div {
    display: flex;
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

#mySports,
#myArticles,
#myArticlesSuggestion {
    display: flex;
    flex-direction: column;
}
/* Additions */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

h1,
h2,
h3 {
    font-family: "Varela Round", sans-serif;
}
h2 {
    font-size: 1rem;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 0.75rem;
}

#main-body {
    display: flex;
    /* #TODO change spacing to responsive, + media query */
    justify-content: space-evenly;
    padding: 100px 50px 0 50px;
    background-color: #f6f7f8;
}
#personnalInfo {
    /* #TODO change width to fixed size, + media query */
    width: 23%;
    margin-right: 15px;
}
#changedInfo {
    /* #TODO change width to fixed size, + media query */
    width: 73%;
}

/* #TODO make floating profile info aside */
/* #myInfos {
    position: fixed;
} */
/* #TODO make img center */
.profile-img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 50%;
}

.info-container {
    border: 1px solid #dadce0;
    border-radius: 8px;
    padding: 15px 50px 50px 50px;
    margin-bottom: 50px;
    background-color: #ffffff;
}

.card {
    border: 1px solid #dadce0;
    margin: 20px;
    padding-bottom: 15px;
    width: 240px;
    box-shadow: 0rem 0rem 1rem 0rem rgb(110 110 110 / 11%);
    animation: comeFromBottom 1s ease-out 0.8s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img {
    width: 12rem;
    -webkit-clip-path: polygon (0 0, 100% 0, 100% 78%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
}

.card-text {
    padding: 0 20px 0 20px;
}

/* #TODO fix font weight of card title  */
.category-name{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    color: rgba(237, 40, 40, 0.85);
}

/* .btn {
    font-family: "Open Sans";
    text-transform: capitalize;
    background-color: rgba(237, 40, 40, 0.85);
    color:rgb(255, 255, 255);
	border-radius: 100px;
    text-align: center;
    padding: 10px 0px 10px 0px;
} */

/* .btn {
    background-color: rgba(237, 40, 40, 0.85);
    color: rgb(255, 255, 255);
    border-radius: 25px;
} */

.list-event-cards {
    display: flex;
    flex-wrap: wrap;
}

.divider {
    border-bottom: 2px solid #dadce0;
}

#mySportsList{
    padding: 0;
}
.category {
    font-family: 'Open Sans';
    font-size: 0.8rem;
    color: black;
    list-style-type: none;
}

.category:hover {
    color: rgba(237, 40, 40, 0.85);
    font-weight: 600;
    font-size: 0.9rem;
}

#avatar {
    padding: 50px 0 30px 0;
    padding-left: 26%;
}

/********************* menu red line **********************/
nav a,
nav .start-home,
a:hover ~ .animation {
    width: 15%;
}
nav .start-home,
a:nth-child(1):hover ~ .animation {
    left: 2.5%;
    width: 10%;
}
nav a:nth-child(2):hover ~ .animation {
    left: 16.5%;
    width: 12%;
}

nav a:nth-child(3):hover ~ .animation {
    left: 31%;
}

nav a:nth-child(4):hover ~ .animation {
    left: 48.5%;
    width: 10%;
}

nav a:nth-child(5):hover ~ .animation {
    left: 72%;
    width: 0px;
}
