/* ~~~~~~~~~ Related to the switch button ~~~~~~~~~ */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: rgba(237, 40, 40, 0.85);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*  */

#toggleForm {
    display: flex;
    justify-content: center;
}

#toggleForm p {
    margin: 10px;
}

/* ~~~~~~~~~~~~~ Related to the forms ~~~~~~~~~~~~~ */

#bothForm {
    width: 97%;
    margin: auto;
    height: 77vh;
    padding-top: 20px;
    margin-bottom: 50px;
    font-family: "Open Sans", sans-serif;
}

/* red line  */
nav a,
nav .start-home,
a:hover ~ .animation {
    width: 15%;
}
nav .start-home{
    left: 71%;
    width: 0px;
}
a:nth-child(1):hover ~ .animation {
    left: 0%;
}
nav a:nth-child(2):hover ~ .animation {
    left: 15%;
}

nav a:nth-child(3):hover ~ .animation {
    left: 31%;
}

nav a:nth-child(4):hover ~ .animation {
    left: 48%;
    width: 12%;
}
nav a:nth-child(5):hover ~ .animation {
    left: 71%;
    width: 0px;
}

#signInFormSection,
#signUpFormSection {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
div h1 {
    text-align: center;
}

#signInFormSection img,
#signUpFormSection img {
    height: 400px;
    width: 300px;
}

.form {
    padding: 30px 30px;
    width: 400px;
    margin-bottom: 30px;
}

.formControl {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.formControl label {
    display: inline-block;
    margin-bottom: 5px;
}

.formControl input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 5px;
    width: 100%;
}

.formControl input:focus {
    outline: 0;
    border-color: #777;
}

.formControl.success input {
    border-color: #2ecc71;
}

.formControl.error input {
    border-color: #e74c3c;
}

.formControl i {
    visibility: hidden;
    position: absolute;
    top: 30px;
    right: 10px;
}

.formControl.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.formControl.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.formControl small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.formControl.error small {
    visibility: visible;
}

.form button {
    background-color: #ed2800;
    border: 2px solid #ed2800;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
}

.kakaoDiv {
    width: 300px;
}

#kakao-login-btn {
    height: 4rem;
    margin-left: 7%;
}
